<p id="notice"><%= notice %></p>

<p>
  <strong>Info purchase order:</strong>
  <%= @details_purchase_order.info_purchase_order.id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @details_purchase_order.product.name %>
</p>

<p>
  <strong>Product quantity:</strong>
  <%= @details_purchase_order.product_quantity %>
</p>


<%= link_to 'Edit', edit_details_purchase_order_path(@details_purchase_order) %> |
<%= link_to 'Back', details_purchase_orders_path %>
