<ul>
<li><%= link_to 'Productos', products_path %></li>
<li><%= link_to 'Clientes', clients_path %></li>
<li><%= link_to 'Proveedores', providers_path %></li>
<li><%= link_to 'Ubicaciones', locations_path %></li>
<li><%= link_to 'Ordenes de Compra', info_purchase_orders_path %></li>
<li><%= link_to 'Ordenes de Despacho', info_dispatch_orders_path %></li>
<li><%= link_to 'Stock por Ubicaciones', stock_by_locations_path %></li>
</ul>