<ul>
  <li><%= link_to 'Productos', products_path %></li>
  <li><%= link_to 'Clientes', clients_path %></li>
  <li><%= link_to 'Proveedores', providers_path %></li>
  <li><%= link_to 'Ubicaciones', locations_path %></li>
  <li><%= link_to 'Información Ordenes de Compra', info_purchase_orders_path %></li>
  <li><%= link_to 'Información Ordenes de Despacho', info_dispatch_orders_path %></li>
  <li><%= link_to 'Detalles Ordenes de Compra', details_purchase_orders_path %></li>
  <li><%= link_to 'Detalles Ordenes de Despacho', details_dispatch_orders_path %></li>
  <li><%= link_to 'Stock por Ubicaciones', stock_by_locations_path %></li>
  <li><%= link_to 'Recepciones', receptions_path %></li>
</ul>


<div id='calendar'></div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
    </div>
  </div>
</div>


