<%= form_with(model: details_dispatch_order, local: true) do |form| %>
  <% if details_dispatch_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(details_dispatch_order.errors.count, "error") %> prohibited this details_dispatch_order from being saved:</h2>

      <ul>
      <% details_dispatch_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :info_dispatch_order_id %>
    <%= form.text_field :info_dispatch_order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :product_quantity %>
    <%= form.number_field :product_quantity %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
