<%= form_with(model: dispatch, local: true) do |form| %>
  <% if dispatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dispatch.errors.count, "error") %> prohibited this dispatch from being saved:</h2>

      <ul>
      <% dispatch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nº_Orden_de_Despacho %>
    <%= form.select :info_dispatch_orders_id, InfoDispatchOrder.all.pluck(:id), {prompt: "Seleccione Orden"}, id: "dispatch_order" %>
  </div>

<div class="field">
    <%= form.label :Detalle_Orden_de_Despacho %>
    <%= form.select :details_dispatch_orders_id, DetailsDispatchOrder.includes(:product).all.pluck(:name, :id), {}, id: "product_details" %>
</div>

  <div class="field">
    <%= form.label :quantity_ok %>
    <%= form.number_field :quantity_ok %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
