<%= form_with(model: reception, local: true) do |form| %>
  <% if reception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reception.errors.count, "error") %> prohibited this reception from being saved:</h2>

      <ul>
      <% reception.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :details_purchase_orders_id %>
    <%= form.select :info_purchase_orders_id, InfoPurchaseOrder.all.pluck(:id), {prompt: "Seleccione Orden"}, id: "purchase_order" %>
  </div>

  <div class="field">
    <%= form.label :details_purchase_orders %>
    <%= form.select :details_purchase_orders_id, DetailsPurchaseOrder.includes(:product).all.pluck(:name, :id), {}, id: "product_detail" %>
</div>

  <div class="field">
    <%= form.label :quantity_ok %>
    <%= form.number_field :quantity_ok %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
