<p id="notice"><%= notice %></p>

<p>
  <strong>Details purchase orders:</strong>
  <%= @reception.details_purchase_orders %>
</p>

<p>
  <strong>Quantity ok:</strong>
  <%= @reception.quantity_ok %>
</p>

<%= link_to 'Edit', edit_reception_path(@reception) %> |
<%= link_to 'Back', receptions_path %>
