<p id="notice"><%= notice %></p>

<p>
  <strong>Numero Orden de Despacho:</strong>
  <%= @info_purchase_order.id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @info_purchase_order.provider.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @info_purchase_order.user.email %>
</p>

<%= link_to 'Edit', edit_info_purchase_order_path(@info_purchase_order) %> |
<%= link_to 'Back', info_purchase_orders_path %>
