<%= form_with(model: info_dispatch_order, local: true) do |form| %>
  <% if info_dispatch_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(info_dispatch_order.errors.count, "error") %> prohibited this info_dispatch_order from being saved:</h2>

      <ul>
      <% info_dispatch_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='container'>
    <div class="field-control">
      <%= form.label :client_id %><br>
      <%= form.select :client_id, Client.all.pluck(:name, :id) %>
    </div>

    <div class="field">
      <%= form.label :client_order_purchase %><br>
      <%= form.text_field :client_order_purchase %>
    </div>

    <div class="field">
      <%= form.label :user_id %><br>
      <%= form.select :user_id, User.all.pluck(:email, :id) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
