<p id="notice"><%= notice %></p>

<p>
  <strong>Numero Orden de Despacho:</strong>
  <%= @info_dispatch_order.id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @info_dispatch_order.client.name %>
</p>

<p>
  <strong>Client order purchase:</strong>
  <%= @info_dispatch_order.client_order_purchase %>
</p>

<p>
  <strong>Ejecutivo:</strong>
  <%= @info_dispatch_order.user.email %>
</p>

<%= link_to 'Edit', edit_info_dispatch_order_path(@info_dispatch_order) %> |
<%= link_to 'Back', info_dispatch_orders_path %>
