<p id="notice"><%= notice %></p>

<h1>Stock By Locations</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Product</th>
      <th>Product quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_by_locations.each do |stock_by_location| %>
      <tr>
        <td><%= stock_by_location.locations %></td>
        <td><%= stock_by_location.products %></td>
        <td><%= stock_by_location.product_quantity %></td>
        <td><%= link_to 'Show', stock_by_location %></td>
        <td><%= link_to 'Edit', edit_stock_by_location_path(stock_by_location) %></td>
        <td><%= link_to 'Destroy', stock_by_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock By Location', new_stock_by_location_path %>
