<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-6">
      <% if @product.image.attached? %>
        <p>
          <strong>Imagen:</strong><br>
            <%= image_tag @product.image %>
        </p>
        <% else %>
          <strong>Imagen:</strong><br>
              <h2> SIN IMAGEN DISPONIBLE </h2>
      <%end%>
    </div>
 
    <div class="col-6">
      <p>
        <strong>Sku:</strong>
        <%= @product.sku %>
      </p>

      <p>
        <strong>Nombre del producto:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Ean:</strong>
        <%= @product.ean %>
      </p>

      <p>
        <strong>Proveedor:</strong>
        <%= @product.provider %>
      </p>

      <p>
        <strong>Categoria:</strong>
        <%= @product.category %>
      </p>

      <p>
        <strong>Subcategoria:</strong>
        <%= @product.subcategory %>
      </p>

      <p>
        <strong>Activo:</strong>
        <%= @product.active %>
      </p>

      <p>
      <h4>Ubicaciones Disponibles</h4>
      <table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Product</th>
      <th>Product quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_by_location.each do |stock_by_location| %>
      <tr>
        <td><%= stock_by_location.location.name %></td>
        <td><%= stock_by_location.product.name %></td>
        <td><%= stock_by_location.product_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </p>
     

      </div>
    </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> <br>
<%= link_to 'Back', products_path %>
