<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @product.ean %>
</p>

<p>
  <strong>Proveder:</strong>
  <%= @product.proveder %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<% if @product.image.attached? %>
 <p>
    <strong>Image:</strong>
 <br>
    <%@product.image.each do |image| %>
    <%= image_tag image.variant(resize:"200x200",negate:true,flip:true)%>
  <%end%>
 </p>
<%end%>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
